doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      h1
        include partials/gcelogo.svg
        |       Römertag 2024 | Bilder-Download
      hr
      #download
    include partials/footer
    script(src='app/common.js')
    script(src='app/download.js')
